version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "9000:9000"
    env_file:
      - .env
    command: ["conda", "run", "-n", "rag", "uvicorn", "ai.stt-tts-sample.app:app", "--host", "0.0.0.0", "--port", "9000"]
    volumes:
      - ./chroma_db:/app/chroma_db

  ingest:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    command: ["conda", "run", "-n", "rag", "python", "chromaDB/sav.py"]
    volumes:
      - ./chroma_db:/app/chroma_db
